@font-face{
  font-family: "Elley";
  src: url("../fonts/elley.otf") format("opentype");
}

.logo{
  width: 25vw;
  margin: 1.25rem 1.25rem;
}

.logo-small{
  width: 20vw;
}

html[data-theme="dark"] .header-section{
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("../imgs/background.png") no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 2rem;
  user-select: none;
}

.header-section{
  background: url("../imgs/background-light.png") no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 2rem;
  user-select: none;
}

.button-big{
  padding: 1rem 2rem;
  font-size: 1.5rem;
  height: auto;
  margin: 2rem;
}

.button-big .fab, .button-big .fas{
  font-size: 1.875em;
}

.header-section h1{
  font-family: "Elley";
  letter-spacing: .25rem;
  text-shadow: 1px 1px 3px rgba(0,0,0,.4);
}

.button i{
	font-size: 2rem;
	padding: 0 1rem;
}

h1,h2,h3>i.fas, h1,h2,h3>i.fab {
  font-size: 5rem;
  display: block;
  margin: 0 auto 2rem;
}
/*
h4,h5,h6>i.fas, h4,h5,h6>i.fab {
  font-size: 5rem;
  display: block;
  margin: 0 auto 2rem;
}
*/
main{
  margin: 0 auto;
  padding: 2rem;
  max-width: 1000px;
}

main > section{
  margin: 2rem 0;
}

.section-header{
  margin: 2rem 0;
  text-align: center;
  border: 1px solid;
  text-transform: uppercase;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: .2rem .5rem;
}

.card  img{
  width:100%;
  max-height: 10rem;
  object-fit: cover;
}

.button-play{
  color: var(--button-primary-color);
  background-color: #4caf50;
  border-color: #4caf50;
  transition: 0.3s;
}
.button-play:hover, .button-play:focus{
  color: var(--button-primary-color);
  background-color: #46a049;
  border-color: #46a049;
  transform: scale(1.05);
  transition: 0.3s;
}
.button-secondary{
  color: var(--button-primary-color);
  background-color: #343a40;
}

.button-secondary:hover, .button-play:focus{
  color: var(--button-primary-color);
  background-color: #6c757d;
}

.thumb{
  max-height: 20rem;
  object-fit:contain;
}

.container{
  text-align: justify;
}

h2,h5{
  text-transform: uppercase;
}

h5{
  font-weight: bold;
}

img{
  max-width: 95%;
  max-height: auto;
}

#sube {
  display: none;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  border: none;
  padding: 10px;
  background: transparent;
  font-size: 50px;
  color: rgba(50, 100, 250, 0.8);
  transition: transform 0.25s;
}

.mostrar {
  animation: btnEntra 0.25s;
}

.ocultar {
  animation: btnSale 0.25s;
}

@keyframes btnEntra {
  0% {
    opacity: 0;
    transform: translate(0, 100%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes btnSale {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0, 100%);
  }
}
#sube:hover,
#sube:active {
  color: rgb(24, 70, 207);
  transform: scale(1.3, 1.3);
}

.tree{
  background: var(--code-background);
}

.sticky {
	position: sticky;
	top: 0;
  z-index: 1;
}

.menu{
  background: var(--background-color-softer);
}

.menu-items{
  display: none;
}

.menu-items.active{
  display: block;
}

.menu-toggle {
  font-size: 30px;
}

.menuSwitch{
  display: block;
  position: fixed;
  font-size: 3rem;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
  z-index: 2;
  transform: scale(.75);
}

@media (min-width: 600px) {
/*  .menu-toggle {
    display: none;
  }

  .menu-items{
    display: grid;
  }*/

  .menuSwitch{
    top: 2rem;
    right: 2rem;
    font-size: 5rem;
  /*  transform: scale(1.0);*/
  }
}
